nav(class='navbar')
    div(class='nav-left')
        ul
            li
                a(href='/' + language)
                    img(src='../../static/images/logo.svg' alt='Logo' class='logo' width='100' height='85')
                    span(class='sitename') Maximilien Nadji
    div(class='nav-right')
        ul
            li(class='icons', id='switchTheme')
                img(src='../../static/images/moon.svg', class='sun', alt='Dark Mode')
                img(src='../../static/images/sun.svg', class='moon', alt='Light Mode')
            li
                div(class='langs')
                    label(for='lang-selector' class='sr-only') Choose a language
                    select(class='lang-selector' id='lang-selector' name='lang-selector')
                        option(value='en', selected=(language === 'en')) 🇬🇧 English
                        option(value='fr', selected=(language === 'fr')) 🇫🇷 Français
            li
                a(id='toggle-nav' onclick='toggleNav()')
                    img(class='bars', src='../../static/images/menu-bar.svg' alt='menu')
        ul(id='links' class='links')
            li
                a(href='https://www.linkedin.com/in/maximilien-nadji/') LinkedIn
            li
                a(href='https://github.com/nadmax') GitHub
            li
                a(href='/blog') Blog
            li
                a(href='/about' data-key='about')= translations.about
        
