nav(class='navbar')
    div(class='nav-left')
        ul
            li
                a(href='/')
                    span Maximilien Nadji
    div(class='nav-right')
        ul
            li(class='icons', id='switchTheme')
                img(src='../../static/images/moon.svg', class='sun', alt='Dark Mode')
                img(src='../../static/images/sun.svg', class='moon', alt='Light Mode')
        div(class='langs')
            form(action='/lang' method='POST')
                select(class='lang-selector' name='lng' onchange='this.form.submit()')
                    option(name="en", value='en', selected=lng === 'en', id='english') 🇬🇧 English
                    option(name="fr", value='fr', selected=lng === 'fr', id='french') 🇫🇷 Français
        ul(class='links')
            li
                a(href='https://www.linkedin.com/in/maximilien-nadji/') LinkedIn
            li
                a(href='') Github
            li
                a(href='/blog') Blog
            li
                a(href='/about' id='about-link')= aboutLink