doctype html
html(lang='en', data-theme='light')
    include components/head.pug

    body(data-page="about")
        include components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(data-key='about_page.title')= translations.about_page.title
                div(data-key='about_page.content')!= translations.about_page.content

        include components/footer.pug

    script(src='/theme.js' async)
    script(src='/lang.js')
    script(src='/nav.js')