doctype html
html(lang=language, data-theme='light')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css', href='/static/styles/style.min.css')
        meta(name='author', content='Maximilien Nadji')
        if language == "fr"
            meta(name='description', content="Services d'Administration Système Linux, des conseils DevOps et des retours d'expériences en tant que freelance")
            meta(name='keywords', content='Linux, DevOps, Freelance, Administrateur, Système, Automatisation')
        else
            meta(name="description" content="Linux System Administration services, DevOps advice, and freelance experience insights.")
            meta(name='keywords', content='Linux, DevOps, Freelance, Automation, Administrator, System')
        link(rel='canonical' href='https://maximilien-nadji.com/about')
        link(rel='alternate' hreflang='en' href='https://maximilien-nadji.com/en/about')
        link(rel='alternate' hreflang='fr' href='https://maximilien-nadji.com/fr/about')
        link(rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="/manifest.json")
        title(data-key='title')= translations.title
        script 0

    body

        include components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(data-key='about_page.title')= translations.about_page.title
                div(data-key='about_page.content')!= translations.about_page.content

        include components/footer.pug

        script(src='/theme.js')
        script(src='/lang.js')
        script(src='/nav.js')