doctype html
html(lang='en', data-theme='light')
    include components/head.pug

    body(data-page="index")
        include components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(id='title')= t("index.title")
                div(id='presentation')!= t("index.presentation")
                h2 Services
                div(id="services")!= t("index.services")
                div(id='contact')!= t("index.contact")

        include components/footer.pug

    script(src='theme.js')
    script(src='lang.js')
    script(src='nav.js')