:root {
    --dark-mode: #111;
    --light-mode: #fff;
}

body {
    background-color: var(--light-mode);
    color: var(--dark-mode);
    transition: background-color 0.3s, color 0.3s;
    font-family: myFont;
}

a {
    text-decoration: none;
    color: var(--dark-mode);
}

ol, ul, menu {
    list-style: none;
}

a:hover {
    opacity: 0.5;
}

.dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}

.dark-mode a:link {
    color: var(--light-mode);
}

.dark-mode a:hover {
    opacity: 0.5;
}

.title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    font-size: 18px;
}

.icon-container {
    cursor: pointer;
    width: 0px;
}

.sun-icon, .moon-icon {
    transition: opacity 0.3s;
}

.moon-icon {
    display: none;
}

.dark-mode .sun-icon {
    display: none;
}

.dark-mode .moon-icon {
    display: inline-block;
}

.nav {
    float: right;
    text-align: center;
    overflow: hidden;
}

.nav-section {
    margin-right: 10px;
}

.underlined-link {
    text-decoration: underline;
}

@font-face {
    font-family: myFont;
    src: url("../fonts/RedHatText-Regular.ttf");
}

.section-title {
    font-size: 30px;
    font-weight: bold;
}

.title {
    margin-top: 60px;
}

.content {
    text-align: center;
    font-size: 20px;
}

.services-subtitle {
    font-size: 22px;
    font-weight: bold;
}

.content-services {
    display: inline-block;
    text-align: left;
}

.footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    width: 400px;
    margin: auto;
}

.footer-signature {
    float: left;
    width: 100%;
    padding: 80px 0;
}

.footer-logos {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-left: -10px;
}

.logos-list {
   display: flex;
}

.logos {
    margin-right: 30px;
}

.signature {
    font-size: 17px;
}

.copyright {
    font-size: small;
}