[data-theme="light"] {
    --link: #00f;
    --bg: #f5f5f5;
    --fg: #111;
    --code-fg: #1e2229;
    --code-bg: #ededed
}

[data-theme="dark"] {
    --link: #3382e3;
    --bg: #151b23;
    --fg: #fff;
    --code-fg: #d8dee9;
    --code-bg: #20262d
}

@font-face {
    font-family: myFont;
    src: url("../fonts/RedHatText-Regular.ttf");
    font-display: swap;
}

@counter-style check-mark-emoji {
    system: cyclic;
    symbols: "\2713";
    suffix: " "
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: myFont;
    margin: auto;
    line-height: 1.5em;
    max-width: 52em;
    font-size: 20px;
    padding: 1em;
    overflow: auto
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between
}

nav>div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden
}

nav>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden
}

nav>div>ul>li>a {
    display: block;
    line-height: 2em;
    padding: .5em 0;
    text-decoration: none;
    color: var(--fg)
}

nav>div.nav-right>ul>li>a {
    padding: .5em .5em
}

nav>div>ul>li>a:hover {
    color: var(--fg) !important
}

.nav-left {
    float: left
}

nav ul li {
    display: inline-block;
    list-style-type: none
}

li.icons {
    cursor: pointer;
    position: relative;
    margin-left: 10px
}

li.icons a {
    display: inline-block
}

a {
    text-decoration: underline;
    color: var(--link)
}

ol,
ul {
    list-style: none
}

a:hover {
    text-decoration: underline
}

h2 {
    margin: 2em 0 1em;
    font-size: 2em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1em
}

p {
    margin: 1em 0
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

pre {
    background-color: unset !important;
    font-size: .98em
}

code {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--code-bg);
    color: var(--code-fg);
    border-radius: 5px
}

pre>code {
    display: block;
    padding: 10px 15px
}

#toggle-nav {
    display: none
}

p.date {
    font-size: 13px;
    color: var(--fg)
}

ul.articles {
    list-style: none;
    padding: 0
}

ul.articles li {
    padding-bottom: 10px
}

li p:last-child {
    margin: 0
}

.sun,
.moon {
    transition: opacity .3s
}

.moon {
    display: none
}

.dark-mode .sun {
    display: none
}

.dark-mode .moon {
    display: inline-block
}

.langs {
    display: flex;
    margin-left: 15px
}

.lang-selector {
    border: 0;
    margin: 0;
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    border-radius: .375em;
    background-color: var(--bg);
    color: var(--fg)
}

.lang-selector:focus {
    outline: none
}

.services-list {
    padding-left: 1em;
}

ul.services-list li:before {
    content: "✓";
    color: var(--fg);
}

footer {
    margin-top: auto;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 16px;
    text-align: center
}

.disc-list {
    list-style: disc
}

.numbered-list {
    list-style: decimal
}

.schema {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color-scheme: light
}

.logo {
    color-scheme: light;
    margin-right: .5em;
}

.dark-mode .logo {
    color-scheme: light dark;
}

.bars {
    color-scheme: light
}

.dark-mode .bars {
    color-scheme: light dark
}

.dark-mode .schema {
    color-scheme: light dark
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0
}

@media only screen and (min-width:768px) {
    div.content-container {
        margin: 50px 0
    }
}

@media only screen and (max-width:768px) {
    h1 {
        font-size: 1.8em
    }

    h2 {
        margin: 1.7em 0 1em;
        font-size: 1.5em
    }

    .sitename {
        display: none;
    }

    .logo {
        max-width: 50px;
        max-height: 50px;
    }

    .lang-selector {
        background-color: transparent;
        box-shadow: none
    }
}

@media only screen and (max-width:800px) {
    body {
        font-size: 16px
    }

    nav {
        align-items: baseline
    }

    footer {
        font-size: 14px
    }

    li.icons a:last-child {
        margin-right: 0
    }

    #toggle-nav {
        display: inline-block;
        cursor: pointer;
        position: relative;
    }

    .nav-right {
        width: 100%;
        flex-direction: column;
        align-items: end
    }

    .nav-left {
        position: absolute
    }

    .links {
        flex-direction: column-reverse;
        border-radius: 5px;
        display: none;
        width: 100%;
        background: var(--code-bg)
    }

    .langs {
        margin-left: 10px
    }

    .moon {
        width: 22px;
        height: 22px
    }

    .sun {
        width: 22px;
        height: 22px
    }

    .lang-selector {
        font-size: 12px
    }

    .links a {
        padding: 1em
    }

    .links a:hover,
    .links a:active {
        background: gray;
        text-decoration: none
    }

    .numbered-list {
        margin-left: -25px
    }

    .disc-list {
        margin-left: -25px
    }
}

@media print {
    * {
        background: rgba(0, 0, 0, 0) !important;
        color: #000 !important;
        filter: none !important;
        -ms-filter: none !important
    }

    body {
        font-size: 12pt;
        max-width: 100%
    }

    a,
    a:visited {
        text-decoration: underline
    }

    hr {
        height: 1px;
        border: 0;
        border-bottom: 1px solid #000
    }

    a[href]:after {
        content: " (" attr(href)")"
    }

    abbr[title]:after {
        content: " (" attr(title)")"
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }

    pre,
    blockquote {
        border: 1px solid var(--dark_grey);
        padding-right: 1em;
        page-break-inside: avoid
    }

    tr,
    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    @page :left {
        margin: 15mm 20mm 15mm 10mm
    }

    @page :right {
        margin: 15mm 10mm 15mm 20mm
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }
}