doctype html
html(lang='en', data-theme='light')
    include ../components/head.pug

    body(data-page="brr_article")
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(data-key='brr_article.title')= translations.brr_article.title
                p(class='date') 17/03/2025
                div(data-key='brr_article.content')!= translations.brr_article.content
                div(data-key='brr_article.conclusion')!= translations.brr_article.conclusion

        include ../components/footer.pug

    script(src='/theme.js', defer)
    script(src='/nav.js', defer)
    script(src='/lang.js', defer)