doctype html
html(lang='en', data-theme='light')
    include ../components/head.pug

    body(data-page="brr_article")
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(id='title')= t("brr_article.title")
                p(class='date') 22/02/2025
                div(id='content')!= t("brr_article.content")
                div(class='github-container', id='github-projects')
                div(id='final')!= t("brr_article.final")

        include ../components/footer.pug

    script(src='../theme.js')
    script(src='../github.js')
    script(src='../nav.js')
    script(src='../lang.js')