doctype html
html(lang='en', data-theme='light')
    include ../components/head.pug

    body(data-page="blog_index")
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(id='articles-title') Articles
                ul(class='articles')
                    li
                        a(href='/blog/backup-restore-recovery' data-key='blog_index.brr')= translations.blog_index.brr
                        p(class='date') 17/03/2025
                    li
                        a(href='/blog/bootable-usb' data-key='blog_index.usb')= translations.blog_index.usb
                        p(class='date') 17/03/2025
                    li
                        a(href='/blog/linux' data-key='blog_index.linux')= translations.blog_index.linux
                        p(class='date') 17/03/2025

        include ../components/footer.pug

    script(src='/theme.js', defer)
    script(src='/lang.js', defer)
    script(src='/nav.js', defer)
    script(src='/window.js', defer)