doctype html
html(lang='en', data-theme='light')
    include ../components/head.pug

    body(data-page="linux_article")
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(id='title')= t("linux_article.title")
                p(class='date') 08/02/2025
                div(id='content')!= t("linux_article.content")

        include ../components/footer.pug

    script(src='../theme.js')
    script(src='../lang.js')
    script(src='../nav.js')