doctype html
html(lang='en', data-theme='light')
    include ../components/head.pug

    body(data-page="usb_article")
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(data-key='usb_article.title')= translations.usb_article.title
                p(class='date') 17/03/2025
                div(data-key='usb_article.content')!= translations.usb_article.content

        include ../components/footer.pug

    script(src='/theme.js', defer)
    script(src='/lang.js', defer)
    script(src='/nav.js', defer)
    script(src='/window.js', defer)