doctype html
html(lang=.language, data-theme='light')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css', href='/static/styles/style.min.css')
        meta(name='author', content='Maximilien Nadji')
        meta(property="og:site_name" content=.common.title)
        meta(property="og:title" content=.page.title)
        if eq .language "fr"
            meta(property="og:description" content="Découvrez comment créer une clé USB bootable sur Linux en 3 méthodes")
            meta(name='description', content="Découvrez comment créer une clé USB bootable sur Linux en 3 méthodes")
            meta(name='keywords', content='Linux, USB, Bootable, Clé')
        else
            meta(property="og:description" content="Explore three different methods for creating a bootable USB on Linux")
            meta(name="description" content="Explore three different methods for creating a bootable USB on Linux")
            meta(name='keywords', content='Linux, USB, Bootable, Key')
        meta(property="og:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        meta(property="og:url" content="https://maximilien-nadji.com")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        link(rel='canonical' href='https://maximilien-nadji.com/blog/usb')
        link(rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="/manifest.json")
        title(data-key='common.title')= .common.title

    body
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h1(data-key='page.title')= .page.title
                p(data-key='page.date' class='date')= .page.date
                div(data-key='page.content')!= .page.content

        include ../components/footer.pug

        script(src='/theme.js')
        script(src='/lang.js')
        script(src='/nav.js')