<!DOCTYPE html>
<html lang="{{.language}}" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Maximilien Nadji">
        
        {{if eq .language "fr"}}
        <meta name="description" content="Services d'Administration Système Linux, des conseils DevOps et des retours d'expériences en tant que freelance">
        <meta name="keywords" content="Linux, DevOps, Freelance, Administrateur, Système, Automatisation">
        {{else}}
        <meta name="description" content="Linux System Administration services, DevOps advice, and freelance experience insights.">
        <meta name="keywords" content="Linux, DevOps, Freelance, Automation, Administrator, System">
        {{end}}
        
        <link rel="preload" href="/static/styles/style.min.css" as="style">
        <link rel="stylesheet" type="text/css" href="/static/styles/style.min.css">
        <link rel="canonical" href="https://maximilien-nadji.com/about">
        <link rel="alternate" hreflang="en" href="https://maximilien-nadji.com/en/about">
        <link rel="alternate" hreflang="fr" href="https://maximilien-nadji.com/fr/about">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="manifest" href="/manifest.json">
        <title>{{.translations.Title}}</title>
    </head>
    <body>
        {{template "components/navbar" .}}

        <section class="content">
            <div class="content-container">
                <h2 data-key="about_page.title">{{.translations.AboutPageTitle}}</h2>
                <div data-key="about_page.content">{{.translations.AboutPageContent}}</div>
            </div>
        </section>

        {{template "components/footer" .}}

        <script src="/theme.js" defer></script>
        <script src="/lang.js" defer></script>
        <script src="/nav.js" defer></script>
    </body>
</html>