<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../assets/styles/index.css">
        <title> Maximilien Nadji - Linux administrator </title>
    </head>
    <body>
        <div>
            <!-- <div class="language-pick js-language-pick" data-trigger-class="li4-btn li4-btn-subtle js-tab-focus">
                <form action="" class="language-pick-form">
                    <label for="language-pick-select">Select your language</label>
                    <select name="language-pick-select" id="language-pick-select">
                        <option lang="en" value="english" selected>English</option>
                        <option lang="fr" value="french">Français</option>
                    </select>
                </form>
            </div> -->
            <div class="nav">
                <a href="#about" class="nav-section"> About </a>
                <a href="#blog" class="nav-section"> Blog </a>
                <a href="#contact"> Contact </a>
            </div>
            <div class="icon-container" id="modeToggle">
                <img src="../assets/images/sun.svg" class="sun-icon" alt="Light Mode"/>
                <img src="../assets/images//moon.svg" class="moon-icon" alt="Dark Mode"/>
            </div>
            <div>
                <h1 class="title"> Maximilien Nadji </h1>
                <p class="subtitle"> Your future Linux administration collaborator </p>
            </div>
            <div id="about" class="content">
                <p class="section-title presentation-title"> Who am I? </p>
                <p class="content presentation-content">
                    My name is Maximilien Nadji, a self-taught Linux administration devoted.
                    <br>
                    I started to use Linux with Fedora 30 in 2019 during my studies to learn various programming languages (such as C/C++, Python, etc...) 
                    and bash scripting.
                    <br>
                    Previously, I was a DevOps consultant who was interested about automation and software deployment but wasn't interested anymore about software development.
                    <br>
                    I started to specializing in Linux system administration by following a training course and I felt more in my element.
                    <br>
                    It convinced me to take a certification and I chose the 
                    <a class="underlined-link" href="https://training.linuxfoundation.org/certification/linux-foundation-certified-sysadmin-lfcs/">
                        LFCS
                    </a> certification to target linux systems in the broadest sense which I 
                    <a class="underlined-link" href="https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/53be41b8-832e-4e79-a468-64e10b056c27-maximilien-nadji-d2b2531b-484a-44d6-87c5-4fcdd2eddc79-certificate.pdf">
                        obtained with success.
                    </a>
                    <br>
                    I spend my spare time by maintaining my knowledge with the aim of gaining Linux mastery (and of course by updating this website).
                </p>
            </div>
            <br>
            <div class="content">
                <p class="section-title presentation-title"> My services </p>
                <p class="content">
                    TBD
                </p>
            </div>
            <footer id="contact" class="footer">
                <div class="footer-container">
                    <div class="footer-signature">
                        <p class="signature"> Made with 💖 by Maximilien Nadji </p>
                        <p class="copyright"> © 2024 Maximilien Nadji. All rights reserved. </p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
    <script src="../scripts/mode.js"></script>
</html>